body {
	font-family: 'Caudex', serif;
}

.station-list {
	width: 20%;
    float: left;
    height: 95vh;
}

button, input {
	display: block;
	width: 95%;
	padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    font-family: 'Caudex', serif;
    text-transform: uppercase;
    text-align: center;
}

button:hover, input:hover {
	background-color: #ffffff;
	border: 1px solid #afafaf;
	color: #000000;
}

input#add-station {
    background-color: white;
    border: 1px solid #afafaf;
}

#submit {
    box-sizing: content-box;
    width: 86%;
    color: #ffffff;
    background-color: black;
    border: 1px solid #afafaf;
}

img.gif {
    padding: 5px;
}

header {
	padding: 15px;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 45px;
}

h2 {
	font-family: 'Bungee Hairline', cursive;
	font-size: 23px;
}

.artist-select {
	color: #b70202;
    font-weight: 800;
}

.active {
	background-color: #b70202;
	border: 1px solid #afafaf;
	color: #ffffff;
}

.active:focus{
	outline: none;
}

.giphy-container {
    float: left;
}

.response-rating {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.75em;
    text-align: center;
    background-color: rgba(206, 206, 206, 0.42);
    margin: 0 4px;
    padding: 2px;
}